
/* .container {
  width: 960px;
  height: 93%;
  margin: 20px auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 7px;
  position: relative;

} */

.par {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #222831;
}

.container form {
  width: 600px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 9px 0;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

label {
  font-size: medium;
}

::placeholder {
  color: #000;
}

.btn-box {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0;
  /* background: linear-gradient(to right, #ff105f, #ffad06); */
  background: #222831;
  border-radius: 30px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

#form2 {
  left: 450px;
}

.step-row {
  width: 100%;
  /* border-radius: 5px; */
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 -1px 5px -1px #000;
  background: #fff;
}

.step-col {
  width: 100%;
  text-align: center;
  color: #000;
  position: relative;
}

#progress {
  position: absolute;
  height: 100%;
  width: 120px;
  /* background: linear-gradient(to right, #ff105f, #ffad06); */
  background: #F7B928;
  transition: 1s;
}

#progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  position: absolute;
  right: -20px;
  top: 1;
  border-left: 20px solid #F7B928;
}

@media screen and (max-width: 600px) {
  .container {
    height: 97%;
    margin: 10px auto;
  }

  #progress::after {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    right: -19px;
  }
}
