{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block business %}active {%endblock%}


{% block content %}
<br>
<h4>Business Queries..</h4>
   <div class="container mt-4">
    <!-- {% for i in data %}
    <div class="card my-3">
        <div class="card-header">
          {{i.Company_Name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{i.Website_Address}}</h5>
          <p class="card-text">{{i.Email_Address}}</p>
          <a href="{% url 'businessFormView' i.id %}" class="btn btn-primary">Open</a>
        </div>
      </div>
      {% endfor %} -->

      {% if data %}

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date Time</th>
            <th scope="col">Company Name</th>
            <th scope="col">Website</th>
            <th scope="col">E-Mail</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <th>{{i.timeStamp}}</th>
            <td><a href="{% url 'businessFormView' i.id %}">{{i.Company_Name}}</a></td>
            <td><a href="{{i.Website_Address}}">{{i.Website_Address}}</a></td>
            <td><a href="mailto:{{i.Email_Address}}">{{i.Email_Address}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
        <div class="text-center mt-4">
          <img src="{% static 'img/nobuness.svg' %}" alt="No Business Query" class="img-fluid" style="width: 400px;">
          <h3>No Business Queries...</h3>
        </div>
      {%endif%}
   </div>
   
{% endblock %}