{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block airport %} active {%endblock%}

{% block content %}
<br>
<h4>Manage Airport</h4>
   <div class="container mt-2 p-5">
        <p style="font-size: 20px;">Update City</p>
      <form method="POST">
         {% csrf_token %}
         {{form.as_p}}
         <button class="btn btn-dark">Update</button>
   </form>
   <a href="{% url 'deleteCity' data.id %}"><button class="btn btn-danger my-3">Delete</button></a>
   </div>


<script>

  const forms = document.querySelectorAll('input')
  for(let i of forms)
  {
      i.className = 'form-control'
  }

</script>
   
{% endblock %}