{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block fleet %} active {%endblock%}

{% block content %}

<style>
    /* Add these styles to your CSS file or style block in your HTML */
.messages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

/* Style for error messages */
.messages .error {
    background-color: #ff6666;
    color: #fff;
    border: 1px solid #cc0000;
    padding: 10px;
    margin-bottom: 5px;
}

/* Style for success messages */
.messages .success {
    background-color: #66ff66;
    color: #000;
    border: 1px solid #00cc00;
    padding: 10px;
    margin-bottom: 5px;
}

/* Style for warning messages */
.messages .warning {
    background-color: #ffff66;
    color: #000;
    border: 1px solid #cccc00;
    padding: 10px;
    margin-bottom: 5px;
}

</style>
    <div class="d-flex justify-content-between mx-5 my-3">
        <div><h3 class="text-primary">Update Your Vehicle Information</h3></div>
        <div class="d-flex">
            <a href="{% url 'deletefleet' data.id%}"><button class="btn btn-danger">Delete</button></a>
            <!-- <input class="ms-3" type="email" name="email" id="email" placeholder="Enter Email" class="form-control" required> -->
            <a href="{% url 'fleetmail' data.id %}"><button class="btn btn-dark ms-3" id="send">Send Mail</button></a>
        </div>
    </div>
    <div class="container">
        <!-- <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-dark">Submit</button>
        </form> -->


        <form action="" class="form-group shadow p-4" method="POST">
            {% csrf_token %}

            {{form.as_p}}
            <!-- <label for="plate-number">Plate Number</label>
            <input type="text" name="plate-number" id="plate-number" class="form-control mb-3">

            <label for="make">Make or Model</label>
            <input type="text" name="make" id="make" class="form-control mb-3">

            <label for="PH/HC">PH/HC</label>
            <input type="text" name="phhc" id="PH/HC" class="form-control mb-3">

            <label for="number-plate">Number Plate</label>
            <input type="text" name="number-plate" id="number-plate" class="form-control mb-3">

            <label for="color">Color</label>
            <input type="text" name="color" id="color" class="form-control mb-3">

            <label for="ped">Plate Expiry Date</label>
            <input type="date" name="ped" id="ped" class="form-control mb-3" format="yyyy/MM/dd">

            <label for="med">MOT Expiry Date</label>
            <input type="date" name="med" id="med" class="form-control mb-3"> -->

            <button class="btn btn-dark">Update</button>

           
        </form>
        
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<script>
    document.getElementById('id_Plate_Number').className = 'form-control'
    document.getElementById('id_Make_or_Model').className = 'form-control'
    document.getElementById('id_PH_or_HC').className = 'form-control'
    document.getElementById('id_Number_Plate').className = 'form-control'
    document.getElementById('id_Color').className = 'form-control'
    document.getElementById('id_Plate_Expiry_Date').className = 'form-control'
    document.getElementById('id_MOT_Expiry_Date').className = 'form-control'

    document.getElementById('id_Plate_Expiry_Date').setAttribute('type', 'date')
    document.getElementById('id_MOT_Expiry_Date').setAttribute('type', 'date')


    const sendMail = () => {
        let btv = document.getElementById('send');
        btv.disabled = true;
        btv.innerText = "Sending..."
        let email = document.getElementById('email').value;
        

        let pk = "{{data.id}}"

        const url = `http://127.0.0.1:8000/dashboard/expiry/${pk}/${email}`;
        console.log(url)

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
            return response.json();
        })
        .then(data => {
            console.log(data);
            btv.innerText = "Sent"
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }

</script>

{% endblock %}

