{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block school %}active{%endblock%}


{% block content %}

    <form action="" method="POST" class="mx-5 px-5">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Submit</button>
    </form>

    <script>
      
        document.getElementById('id_name').className = 'form-control'
        document.getElementById('id_pickup_location').className = 'form-control'
        document.getElementById('id_drop_location').className = 'form-control'
        document.getElementById('id_price').className = 'form-control'
        // document.getElementById('id_pick_time').className = 'form-control'
        // document.getElementById('id_pick_time').type = 'time'
        // document.getElementById('id_drop_time').className = 'form-control'
        // document.getElementById('id_price').className = 'form-control'
        // document.getElementById('id_drop_time').type = 'time'
        document.getElementById('id_vias').className = 'form-control'
        // document.getElementById('id_pick_up_location').className = 'form-control'
        // document.getElementById('id_drop_location').className = 'form-control'
    </script>
{% endblock %}

