{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block school %}active{%endblock%}


{% block content %}

    <a href="{% url 'addschoolcontract' %}" class="py-5"><button class="btn btn-primary my-5">Add Contract</button></a>
   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
          
            <th scope="col">Contract Number</th>
           
            <th scope="col">Action</th>
          </tr>
        </thead>



        <tbody>
            <tr>
                <th colspan="8" class="pt-1">Expiring Contracts</th>
            </tr>
            {% for i in exp %}
            <tr class="bg-warning">
              <td>{{i.contract_school_name}}</td>
              <td>{{i.start_date}}</td>
              <td>{{i.end_date}}</td>
             
            
              <td>{{i.contract_number}}</td>
             
              <td><a href="{% url 'viewschoolcontract' i.id%}"><button class="btn btn-dark">Open</button></a></td>
              
            </tr>
            {% endfor %}
            <tr >
                <th colspan="8" class="pt-5">All Contracts</th>
            </tr>

            {% for i in data %}
            
          <tr>
            <td>{{i.contract_school_name}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            
           
            <td>{{i.contract_number}}</td>
         
            <td><a href="{% url 'viewschoolcontract' i.id%}"><button class="btn btn-dark">Open</button></a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
  
{% endblock %}