@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200;300;400;700;800&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&family=Rubik+Doodle+Shadow&family=Rubik+Lines&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: #000000;
}

body {
  scroll-behavior: smooth;
}

ul li {
  list-style-type: none;
}
button {
  outline: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
/* ==== end of Base ===== */

/* ==== Navbar ==== */
.navbar {
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.btn-bars {
  background-color: #ffffff;
  color: #39b54a;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  padding: 0.4rem 0.9rem;
  align-items: center;
  border-radius: 3px;
  /* margin: 1.6rem 1.6rem 0 0; */
  margin: 2vw 4vw;
  transition: all 0.4s ease;
}
.btn-bars span {
  font-size: 1.6rem;
  color: #fff;
}

.btn-bars:hover {
  color: #fff;
}
.navbar-collapse {
  /* position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #000000;
  width: 240px;
  padding: 1.9rem;
  transform: translateX(100%);
  transition: all 0.5s ease; */

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #000000;
  width: 240px;
  padding: 1.6rem;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.btn-close {
  background-color: #252525;
  display: block;
  width: 33px;
  height: 33px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.btn-close:hover {
  color: #39b54a;
}
.navbar-nav {
  margin: 4rem 0;
}
.nav-item {
  margin: 1.4rem 0;
  line-height: 40px;
}
.nav-link {
  color: #fff;
  font-size: 1.3rem;
  transition: color 0.5s ease;
  margin-top: 30px;
}
.nav-link:hover {
  color: #fede00;
}

.nav-social-icon {
  margin-top: 3rem;
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
}
.nav-social-icon a i {
  color: white;
  /* font-size: 16px; */
}

.nav-social-icon a:nth-child(1):hover i {
  color: #3b5998;
  transition: 1s all ease;
}

.nav-social-icon a:nth-child(2):hover i {
  color: #1da1f2;
  transition: 1s all ease;
}

.nav-social-icon a:nth-child(3):hover i {
  color: #0e76a8;
  transition: 1s all ease;
}

.nav-social-icon a:nth-child(4):hover i {
  color: #c13584;
  transition: 1s all ease;
}

/* === show menu ===  */
.showMenu {
  transform: translateX(0);
}

.site-name img {
  width: 50%;
  padding: 2vw 4vw;
}

/* Second section */
.content {
  min-height: 100%;
  min-width: 100%;
  margin-top: 95px;
}

.content h1 {
  text-align: center;
  padding: 4vw 2vw 3vw 0vw;
  color: #001220;
  letter-spacing: 3px;
}

.card-airport {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 406px;
  margin: auto;
  margin-top: 3vw;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  font-family: "Montserrat", sans-serif;
}

.card-header-airport {
  background-color: #f4f4f4;
  padding: 15px;
  text-align: center;
}

.card-header-airport h2 {
  margin: 0;
  padding: 12px;
  font-size: 18px;
  color: #333;
}

.card-body-airport ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-body-airport ul li {
  padding: 25px 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.card-body-airport ul li:last-child {
  border-bottom: none;
}

.card-body-airport ul li i {
  margin-right: 18px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 12px;
  border-radius: 50px;
}

.image-div img {
  width: 100%;
  height: auto;
  margin-bottom: 3vw;
}

/* Styles for note cards */
.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 4vw;
}

.note-card {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 410px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-top: 3vw ;
  margin-bottom: 3vw;
}

.note-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.note-header i {
  font-size: 24px;
  margin-right: 10px;
  color: #164b5a;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 12px;
  border-radius: 50px;
}

.note-header h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.note-content p {
  margin: 0;
  color: #555;
}

/* Mobile-first styles */
.main-card {
  width: 50%;
  padding: 2vw 0 6vw 0;
  margin: 0 auto;
}

.card-content {
  background-color: #f7f7f7;
  padding: 3vw;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-section {
  margin-bottom: 30px;
  border-bottom: 2px solid #f4770a;
  padding: 2vw;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-header i {
  margin-right: 17px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 50px;
  font-size: 22px;
}

.card-header h2 {
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.special {
  line-height: 34px;
}

li i {
  margin-right: 12px;
}

li {
  list-style: none;
}

.booking-details,
.review-confirm {
  padding: 0;
}

.booking-details li,
.review-confirm li {
  margin-bottom: 20px;
}

/* footer css */

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  padding: 0 20px;
  margin: 12px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-icons a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 12px;
  border-radius: 30px;
}

.social-icons a:nth-child(1):hover i {
  color: #3b5998;
  transition: 1s all ease;
}

.social-icons a:nth-child(2):hover i {
  color: #1da1f2;
  transition: 1s all ease;
}

.social-icons a:nth-child(3):hover i {
  color: #0e76a8;
  transition: 1s all ease;
}

.social-icons a:nth-child(4):hover i {
  color: #c13584;
  transition: 1s all ease;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

.copyright p {
  font-size: 14px;
  color: #777;
}

/* download our app  */

.app-download {
  background-color: #f4f4f4;
  border: 2px solid #39b54a;
  width: 50%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-info {
  margin-bottom: 20px;
}

.app-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.app-info p {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f4770a;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 24px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #fe3c0d;
}

.app-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .site-name {
    font-size: 1.8rem;
  }
  .btn-bars {
    padding: 0 0.5rem;
  }
  .navbar-close {
    width: 100%;
  }
  .navbar-nav {
    margin: 4rem 0rem;
  }
  .content h1 {
    font-size: 18px;
    padding: 12px;
    line-height: 8vw;
  }
  .card-airport {
    width: 333px;
    margin: auto;
  }
  .main-card {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }

  .card-content {
    width: 100%;
    padding: 30px;
  }

  .card-section {
    flex: 1 1 40%;
    margin-right: 20px;
  }

  .card-header h2 {
    font-size: 17px;
  }

  .main-card li {
    font-size: 12px;
  }

  .special {
    line-height: 5vw;
    text-align: start;
    padding: 12px;
  }

  .app-download {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .app-info h2 {
    font-size: 1.2em;
    margin-bottom: 14px;
  }
  .app-info p {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2px;
  }
}