@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200;300;400;700;800&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: #000000;
}

body {
  scroll-behavior: smooth;
}

ul li {
  list-style-type: none;
}
button {
  outline: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
/* ==== end of Base ===== */

/* ==== Navbar ==== */
.navbar {
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.btn-bars {
  background-color: #ffffff;
  color: #39b54a;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  padding: 0.4rem 0.9rem;
  align-items: center;
  border-radius: 3px;
  /* margin: 1.6rem 1.6rem 0 0; */
  margin: 2vw 4vw;
  transition: all 0.4s ease;
}
.btn-bars span {
  font-size: 1.6rem;
  color: #fff;
}

.btn-bars:hover {
  color: #fff;
}
.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #000000;
  width: 240px;
  padding: 1.6rem;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.btn-close {
  background-color: #252525;
  display: block;
  width: 33px;
  height: 33px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.btn-close:hover {
  color: #39b54a;
}
.navbar-nav {
  margin: 4rem 0;
}
.nav-item {
  margin: 1.4rem 0;
  line-height: 40px;
}
.nav-link {
  color: #fff;
  font-size: 1.3rem;
  transition: color 0.5s ease;
  margin-top: 30px;
}
.nav-link:hover {
  color: #fede00;
}

.nav-social-icon {
  margin-top: 3rem;
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
}
.nav-social-icon a i {
  color: white;
  /* font-size: 16px; */
}

.nav-social-icon a:nth-child(1):hover i {
  color: #3b5998;
  transition: 1s all ease;
}

.nav-social-icon a:nth-child(2):hover i {
  color: #1da1f2;
  transition: 1s all ease;
}

.nav-social-icon a:nth-child(3):hover i {
  color: #0e76a8;
  transition: 1s all ease;
}

.nav-social-icon a:nth-child(4):hover i {
  color: #c13584;
  transition: 1s all ease;
}

/* === show menu ===  */
.showMenu {
  transform: translateX(0);
}

.site-name img {
  width: 50%;
  padding: 2vw 4vw;
}

/* form css */

#driver-login {
  min-height: 100vh;
  margin-bottom: 5vh;
  margin-top: 8vh;
}

.form-background {
  background-image: url("../images/driver-bg-3.avif");
  background-repeat: no-repeat;
  position: relative;
  width: auto;
  height: 490px;
  background-size: cover;
  padding: 5vw;
  margin-bottom: 100px;
  filter: brightness(0.5);
  z-index: -1;
  /* background-attachment: fixed; */
}

.form-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 130px;
  /* align-items: center; */
}

.left {
  width: 50%;
  padding: 6vw 4vw;
}

.left h3 {
  color: #fff;
  font-size: 4vw;
  line-height: 5vw;
}

.left p {
  font-size: 21px;
  color: #fff;
  line-height: 2vw;
  margin-top: 18px;
  font-weight: 500;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 6vw 0vw;
  width: 50%;
}

.driver-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
  padding: 8px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group-checkbox label {
  font-size: 10px;
  line-height: 18px;
  font-weight: 500;
}

input[type="email"],
input[type="tel"],
input[type="password"] {
  width: calc(100% - 12px);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.phone-input {
  display: flex;
}

#phone-country-code {
  width: 25%;
  margin-right: 5px;
}

#phone-number {
  width: 75%;
}

.signup-driver-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.signup-driver-btn:hover {
  background-color: #0056b3;
}

.signup-driver-btn:focus {
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 14l6-6H4l6 6z" fill="%23333"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: center;
  width: 100%;
  padding: 8px;
}

select::-ms-expand {
  display: none;
}

.driver-form p {
  margin-top: 15px;
  font-size: 14px;
}

.driver-form a {
  color: #007bff;
  text-decoration: none;
}

.driver-form a:hover {
  text-decoration: underline;
}

/* footer css */

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  padding: 0 20px;
  margin: 12px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-icons a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 12px;
  border-radius: 30px;
}

.social-icons a:nth-child(1):hover i {
  color: #3b5998;
  transition: 1s all ease;
}

.social-icons a:nth-child(2):hover i {
  color: #1da1f2;
  transition: 1s all ease;
}

.social-icons a:nth-child(3):hover i {
  color: #0e76a8;
  transition: 1s all ease;
}

.social-icons a:nth-child(4):hover i {
  color: #c13584;
  transition: 1s all ease;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

.copyright p {
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 600px) {
  .site-name {
    font-size: 1.8rem;
  }
  .btn-bars {
    padding: 0 0.5rem;
  }
  .navbar-close {
    width: 100%;
  }
  .navbar-nav {
    margin: 4rem 0rem;
  }
  #driver-login {
    min-height: 100vh;
  }
  .form-background {
    height: 500px;
  }

  .form-container {
    margin-top: 80px;
  }

  .left {
    padding: 8vw 10vw;
  }

  .left h3 {
    font-size: 6vw;
    line-height: 7vw;
  }

  .left p {
    font-size: 14px;
    line-height: 1.4;
  }

  .driver-form {
    width: 80%;
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {

  .form-background {
    height: 500px;
  }

  #driver-login {
    min-height: 95vh;
  }

  .form-container {
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 80%;
    padding: 6vw 3vw;
    text-align: center;
  }

  .left h3 {
    font-size: 5vw;
    line-height: 6vw;
  }

  .left p {
    font-size: 16px;
    line-height: 1.5;
  }

  .right {
    width: 100%;
    padding: 0;
  }

  .driver-form {
    width: 90%;
    /* max-width: 350px; */
  }
}
