{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  
  <div class="navbar">
    <img class="limg" src="{%static 'img/euro.png' %}" alt="">
    <div class="nav-items">
      
      {% if request.user.is_authenticated %}
      <a href="{% url 'userLogout' %}"><button class="logout">Logout</button></a>
      {%endif%}
    </div>
  </div>



  <main>
    <div class="main-body">

      {% if request.user.is_authenticated %}
      <div class="ab">
        <h1>You Are Already Logged In</h1>
        <a href="{% url 'adminDashboard'%}">Dashboard</a>
      </div>
      {%else%}
      <form action="" class="login-form" method="POST">
        {%csrf_token%}
        <div>
          <img class="lim" src="{% static 'img/euro.png' %}" alt="EuroCabs"><br>
          <!-- <p style="text-align: center;">Admin Login</p><br> -->
        <label for="e-mail">Email</label><br>
        <input type="email" name="email" placeholder="Enter Email" required id="e-mail"><br>

        <label for="pass" id="label2">Password</label><br>
        <input type="password" name="password" id="pass" required placeholder="Enter Password"><br>

        <button type="submit" class="btn">Login</button>
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
        </div><br>
        
{% endif %}
      </form>
      {%endif%}
    </div>
  </main>
  
</body>
</html>