{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euro Cabs</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/new-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/businessFrom.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/corporate.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
</head>

<body>
    <div class="navigationbar">
        <nav class="navbar">
            <a href="{% url 'home' %}" target="_self" class="site-name">
                <img src="{% static 'assets/images/eurocabs-logo.png' %}" alt="">
            </a>
            <button type="button" class="btn-bars"> <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="navbar-collapse">
                <span class="btn-close">
                    <i class="fas fa-times"></i>
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://eb3.autocab.net/#/36364" class="nav-link">Book A Cab</a>
                    </li>
                 
                    <li class="nav-item">
                        <a href="{% url 'home' %}#table-container" class="nav-link">Airport Rates</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#services-section" class="nav-link">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#faq-section" class="nav-link">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#customer-complaints" class="nav-link">Complaints Section</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}#about-container" class="nav-link">About Us</a>
                    </li>
                </ul>


                <div class="nav-social-icon">
                    <a href="https://www.facebook.com/eurocabs/"><i class="fab fa-facebook"></i><span></span></a>
                    <a href="https://twitter.com/euro_cabs"><i class="fab fa-twitter"></i><span></span></a>
                    <a href="https://www.linkedin.com/company/eurocabs/"><i class="fab fa-linkedin"></i><span></span></a>
                    <!--<a href="#"><i class="fab fa-instagram"></i><span></span></a>-->
                </div>
            </div>
        </nav>
    </div>

    

    <div class="corporate-section">
        <h1>Eurocabs Businesses</h1>

        <div class="corporate-info">
            <h2>Elevate Your Corporate Travel Experience with EuroCabs.</h2>
            <p>We understand that in the corporate world, time is of the essence, and seamless travel is paramount.
                That's why EuroCabs is here to redefine your business travel experience. With a focus on efficiency,
                cost-effectiveness, and unparalleled service, EuroCabs is your dedicated partner in elevating corporate
                travel to new heights. In our commitment to optimizing your travel efficiency and delivering exceptional
                value, we confidently propose a bold challenge. If EuroCabs cannot demonstrate a measurable reduction of
                in your current travel expenditures, we will respectfully decline the opportunity to be
                your preferred travel partner.</p>
        </div>

        <!-- This commitment underscores our dedication to providing tangible,
                cost-effective solutions tailored to elevate your corporate travel experience. We invite you to engage
                in a consultation to explore the transformative impact EuroCabs can bring to your organization's travel
                management. Partner with us, and let's redefine the possibilities of corporate travel together -->

        <div class="slider-container">
            <div class="slider">
                <div class="slide">
                    <img src="{% static 'assets/images/bg-img-1.jpg' %}" alt="Image 1">
                    <p>
                        We understand that in the corporate world, time is crucial.EuroCabs is redefining business
                        travel for seamless experiences.
                    </p>
                </div>
                <div class="slide">
                    <img src="{% static 'assets/images/corporate-travel-1.avif' %}" alt="Image 1">
                    <p>
                        Experience dedicated and exceptional service throughout your journey.
                    </p>
                </div>
                <div class="slide">
                    <img src="{% static 'assets/images/business-img-1.jpg' %}" alt="Image 1">
                    <p>
                        Save costs without compromising on quality with our tailored solutions.
                    </p>
                </div>
            </div>
        </div>

        <div class="features">
            <div class="feature">
                <i class="fas fa-clock"></i>
                <h3>Time Efficiency</h3>
                <p>Optimize your travel time with our prompt and efficient services.</p>
            </div>
            <div class="feature">
                <i class="fas fa-money-bill-wave"></i>
                <h3>Cost-Effectiveness</h3>
                <p>Save costs without compromising on quality with our tailored solutions.</p>
            </div>
            <div class="feature">
                <i class="fas fa-handshake"></i>
                <h3>Unparalleled Service</h3>
                <p>Experience dedicated and exceptional service throughout your journey.</p>
            </div>
        </div>

        <div class="faq-container">
            <div class="faq-item">
                <div class="faq-question">
                    Why Choose EuroCabs? <i class="fas fa-plus"></i>
                </div>
                <div class="faq-answer">
                    <p>1. Punctuality and Time Efficiency <i class="fas fa-clock"></i></p>
                    <ul>
                        <li>Our commitment to punctuality ensures that your executives and employees are never left
                            waiting.</li>
                        <li>Arrive at crucial meetings, conferences, and corporate events with confidence, knowing that
                            EuroCabs prioritizes your schedule.</li>
                        <li>24/7 Availability Whether it's a last-minute meeting or an early morning flight, EuroCabs is
                            available around the clock to cater to your transportation needs.</li>
                    </ul>
                    <p>2. Cost-Effective Solutions <i class="fas fa-coins"></i></p>
                    <ul>
                        <li>We recognize the importance of fiscal responsibility in business. EuroCabs provides
                            transparent and competitive pricing to help you optimize your travel budget.</li>
                        <li>Eliminate hidden costs and enjoy quality service without compromising your financial
                            objectives.</li>
                    </ul>
                    <p>3. Dedicated Account Management <i class="fas fa-user-tie"></i></p>
                    <ul>
                        <li>Your business is unique, and so are your travel needs. Our experienced account managers work
                            closely with you to tailor solutions that align with your corporate objectives.</li>
                        <li>Enjoy personalized service, account customization, and real-time support to ensure your
                            travel program is seamlessly integrated into your business strategy.</li>
                        <li>We offer flexible billing options to accommodate your company's unique needs, making expense
                            management a breeze.</li>
                    </ul>
                    <p>4. Advanced Technology <i class="fas fa-laptop"></i></p>
                    <ul>
                        <li>Stay at the forefront of business travel with our state-of-the-art technology.</li>
                        <li>Our user-friendly mobile app empowers you to book, track, and manage your corporate travel
                            effortlessly, with real-time updates and comprehensive reporting.</li>
                    </ul>
                </div>
            </div>
        </div>


        <h1 class="text-accent">Tailored Packages for Your Business:
        </h1>
        <div class="plans flow-content">
            <div class="plan plan--light">
                <i class="fas fa-briefcase"></i>
                <h2 class="plan-title">Executive Travel:</h2>
                <p class="plan-description">
                    ○ Impress clients and partners by choosing our executive travel
                    packages. <br>
                    ○ Luxuriate in comfort and arrive in style, showcasing the caliber of your
                    business.

                </p>
                <a href="#" class="btn">Join Now</a>
            </div>

            <div class="plan plan--accent">
                <i class="fas fa-users"></i>
                <h2 class="plan-title">Team Building Events:
                </h2>
                <p class="plan-description">
                    ○ Let EuroCabs handle the logistics of your corporate retreats and
                    team-building events. <br>
                    ○ Focus on fostering team relationships while we ensure seamless
                    transportation for all attendees
                </p>
                <a href="#" class="btn">Join Now</a>
            </div>

            <div class="plan plan--light">
                <i class="fas fa-plane-departure"></i>
                <h2 class="plan-title">Airport Transfers:</h2>
                <p class="plan-description">
                    ○ Say goodbye to travel stress with our reliable airport transfer services. <br>
                    ○ Ensure your team arrives at their destination on time, ready to conquer
                    new business horizons.
                </p>
                <a href="#" class="btn">Join Now</a>
            </div>
        </div>

        <div class="corporate-form">
            <div class="form-div">
                <h2>Elevate Efficiency With Your Trusted Partner in Corporate Travel Excellence.</h2>
                <p>Reach out to us today to explore how EuroCabs can customize its services to align with the specific
                    requirements of Your Company. Enhance your corporate travel with a premium experience befitting your
                    success. Complete the form below to embark on your corporate journey.</p>
                <!-- <form id="contact-form" method="POST">
                    <div id="step1" class="form-section active">
                        <h2>Company</h2>
                        <label for="company-name">Company Name:</label>
                        <input type="text" id="company-name" name="companyName" required /><br />

                        <label for="nature-of-business">Nature of Business:</label>
                        <input type="text" id="nature-of-business" name="natureOfBusiness" required /><br />

                        <label for="website">Website Address:</label>
                        <input type="text" id="website" name="WebsiteAddress" /><br />

                        <label for="established-year">Year Company was Established:</label>
                        <input type="text" id="established-year" name="YearCompanyWasEstablished" />
                    </div>

                    <div id="step2" class="form-section" style="display: none;">
                        <h2>Contact Details</h2>
                        <label for="contact-name">Name:</label>
                        <input type="text" id="contact-name" name="contactName" required /><br />

                        <label for="job-title">Job Title:</label>
                        <input type="text" id="job-title" name="jobTitle" required /><br />

                        <label for="department">Department:</label>
                        <input type="text" id="department" name="department" /><br />

                        <label for="telephone">Telephone Number:</label>
                        <input type="tel" id="telephone" name="telephoneNumber" required /><br />

                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="emailAddress" required />
                    </div>

                    <div id="step3" class="form-section" style="display: none;">
                        <h2>Account Details</h2>
                        <label for="credit-amount">Monthly Credit Amount:</label>
                        <input type="number" id="credit-amount" name="monthlyCreditAmount" /><br />

                        <label for="monthly-spend">Monthly Spend:</label>
                        <input type="number" id="monthly-spend" name="monthlySpend" /><br />

                        <label for="authorized-by">Authorized By:</label>
                        <input type="text" id="authorized-by" name="authorisedBy" required /><br />

                        <label for="terms-and-conditions">
                            <a href="BusinessT&C.html">Agree with the Terms & Conditions</a>:
                        </label>
                        <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required />
                    </div>
                    <br />

                    <button type="button" id="nextBtn" onclick="nextStep()">Next</button>
                    <input type="submit" value="Submit" style="display: none;" id="submitBtn">
                </form> -->
            </div>
        </div>
    </div>

    </div>

    <div class="container">
        <form action="{% url 'businessForm' %}" id="mainForm" method="POST" >
            {% csrf_token %}
          <div class="step-row">
            <div id="progress"></div>
            <div class="step-col">step 1</div>
            <div class="step-col">step 2</div>
            <div class="step-col">step 3</div>
          </div>
          <div id="form1" class="form-section">
            <h2>Company Details</h2>
            <input type="text" placeholder="Company Name" name="companyName" required/>
            <input type="text" placeholder="Nature Of Business" name="natureOfBusiness" required/>
            <input type="text" placeholder="Website Address" name="WebsiteAddress"/>
            <input type="text" placeholder="Year Of Company Established" name="YearCompanyWasEstablished"/>
            <div class="btn-box">
              <button type="button" id="next1">Next</button>
            </div>
          </div>
  
          <div id="form2" class="form-section" style="display: none">
            <h2>Contact Details</h2>
            <input type="text" placeholder="Name" name="contactName" required/>
            <input type="text" placeholder="Job Title" name="jobTitle" required />
            <input type="text" placeholder="Department" name="department"/>
            <input type="number" placeholder="Contact Number" name="telephoneNumber" required />
            <input type="email" placeholder="Email Address" name="emailAddress" required />
            <div class="btn-box">
              <button type="button" id="back1">Back</button>
              <button type="button" id="next2">Next</button>
            </div>
          </div>
  
          <div id="form3" class="form-section" style="display: none">
            <h2>Account Details</h2>
            <input type="number" placeholder="Monthly Credit Amount" name="monthlyCreditAmount"/>
            <input type="number" placeholder="Monthly Spend" name="monthlySpend" />
            <input type="text" placeholder="Authorized By" name="authorisedBy" required/>
            
            <!-- <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required /><a href="BusinessT&C.html">Agree with the Terms & Conditions</a>: -->
            <div class="btn-box">
              <button type="button" id="back2">Back</button>
              <button type="submit" id="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>About</h4>
                <ul>
                    <li><a href="#">Accounts</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Airports</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">App</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Services</h4>
                <ul>
                    <li><a href="https://eb3.autocab.net/#/36364">Rides</a></li>
                    <li><a href="https://eb3.autocab.net/#/36364">Airports</a></li>
                    <li><a href="https://eb3.autocab.net/#/36364">Business</a></li>
                    <li><a href="https://eb3.autocab.net/#/36364">Drive</a></li>
                    <li><a href="https://eb3.autocab.net/#/36364">School Transport</a></li>
                    <li><a href="https://eb3.autocab.net/#/36364">SENS Transport</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Legal</h4>
                <ul>
                    <li><a href="{% url 'businessTerms' %}">Business Terms & Conditions</a></li>
                    <li><a href="{% url 'privacyPolicy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'websiteTerms' %}">Website Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Follow us on</h4>
                <ul class="social-icons">
                    <a href="https://www.facebook.com/eurocabs/"><i class="fab fa-facebook"></i><span></span></a>
                    <a href="https://twitter.com/euro_cabs"><i class="fab fa-twitter"></i><span></span></a>
                    <a href="https://www.linkedin.com/company/eurocabs/"><i
                            class="fab fa-linkedin"></i><span></span></a>
                    <!-- <a href="#"><i class="fab fa-instagram"></i><span></span></a> -->
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; Eurocabs.uk 2023 All rights Reserved</p>
        </div>
    </footer>

    <script src="{% static 'assets/js/corporate.js' %}"></script>
    <script src="{% static 'js/businessForm.js' %}"></script>

    <!-- GSAP -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Scroll trigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js"
        integrity="sha512-+LXqbM6YLduaaxq6kNcjMsQgZQUTdZp7FTaArWYFt1nxyFKlQSMdIF/WQ/VgsReERwRD8w/9H9cahFx25UDd+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>